<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avengers login</title>
    <style>
        *{
            background: url("/static/img/fundologin2.jpeg") no-repeat;
        }
    </style>
</head>
<body>
    <div style="color:white;">
        <form action="/user" method="POST">
            <label for="username">Qual seu nome Capitão</label>
            <input type="text" id="username" name="username">
            <input style="color:white" type="submit" value="Entrar">
        </form>
    </div>
</body>
</html>