<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avengers</title>
    <style>
        *{
            background: url("/static/img/fundologin2.jpeg") no-repeat;
            color: white;
        }
    </style>
</head>
<body>
    <form action="/register" method="POST">
        <label for="username">Qual seu nome Capitão</label>
        <input type="text" id="username" name="username"><span style="color:yellow;">{{status}}</span>
        <input type="submit" value="registrar">
    </form>
</body>
</html>